application/bootstrap/cache/services.php
application/storage/app/*
application/storage/framework/cache/*
application/storage/framework/sessions/*
application/storage/framework/views/*
application/storage/logs/*

application/vendor/**/test*
application/vendor/**/tests*
application/vendor/**/Tests*

application/**/*node_modules

application/**.git
application/.idea
application/**.gitignore
application/**.gitattributes
application/**.sass-cache
application/*.env*
# application/composer.json

application/*.config.js
application/?ulpfile.js
application/?untfile.js
application/package.json
application/phpunit.xml
application/readme.md
application/phpspec.yml

application/Dockerfile
application/docker-compose.yml
application/run
application/run.ps1